body{
    background-color: #020107;
    background-image: url("imagem/channels4_profile");
    font-family: sans-serif;
    border-radius: 5px;

}

form{
    width: 400px;
    margin: auto;
    box-sizing: border-box;
    padding: 10px ;

    
}

form{
    width: 300px;
     margin: 200px auto;
     text-align: center;
}
input{
    display: block;
    margin: 10px auto;
    width: 250px;
    height: 30px;
    border: 3px solid rgb(12, 182, 26) ;
    border-radius: 8px;
}


    h2 {

        color: aliceblue;
    }
    h4 {
        color: aliceblue;
        
   

}
